*.pyc
*.log
.*.sw*
.*.pyc*
.*.log*
autosubmit/miniTest.py
autosubmit/simple_test.py
.vscode/
.conda/
.pytest_cache/
.idea/
autosubmit.egg-info/
docs/build/
dist/
build/
.cache

# Benchmark files
.benchmarks/artifacts

# Coverage files
coverage/
.coverage
.coverage.*
test/coverage.xml
coverage.xml
test/htmlcov

# Docker
dockerfiles/id_rsa*
dockerfiles/authorized_keys

# Manual pages
man/

venv/
.ipynb_checkpoints
.atl
.benchmarks/artifacts/performance-metrics-4.2.0.csv
:memory:
